    
    .new_nav_list{
  		font-family: sans-serif;
  		font-weight: bold;
  		font-size: 15px;
  		padding-top: 67px;
  		text-align: center;
  	}
  	
  	#link_02{
  		display: none;
  	}
  	#link_03{
  		display: none;
  	}
  	#link_04{
  		display: none;
  	}
  	#link_05{
  		display: none;
  	}



    .form-control[type='text']:focus,
.form-control[type='password']:focus {
  border: 1px solid #BBB1B1;
}
.top-20{margin-top: 20px;}
.form-control.border-bottom[type='text'],
.form-control.border-bottom[type='password'] {
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.form-control.border-left[type='text'],
.form-control.border-left[type='password'] {
  border: none !important;
  border-left: 3px solid #ddd !important;
  background-color: #f4f4f4;
  color: #BBB1B1;
}

.form-control.android[type='text'],
.form-control.android[type='password'] {
  width: 100%%;
  font-family: "Roboto", "Droid Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 8px 8px 6px 8px;
  position: relative;
  display: block;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
  -webkit-background-size: 1px 6px, 1px 1px, 1px 6px;
  -moz-background-size: 1px 6px, 1px 1px, 1px 6px;
  -ms-background-size: 1px 6px, 1px 1px, 1px 6px;
  -o-background-size: 1px 6px, 1px 1px, 1px 6px;
  background-size: 1px 6px, 1px 1px, 1px 6px;
}

.form-control.android[type='text']:hover,
.form-control.android[type='password']:hover,
.form-control.android[type='text']:focus,
.form-control.android[type='password']:focus {
  background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
  -webkit-background-size: 1px 6px, 1px 1px, 1px 6px;
  -moz-background-size: 1px 6px, 1px 1px, 1px 6px;
  -ms-background-size: 1px 6px, 1px 1px, 1px 6px;
  -o-background-size: 1px 6px, 1px 1px, 1px 6px;
  background-size: 1px 6px, 1px 1px, 1px 6px;
}

.form-control.primary {
  border-color: #1c84c6;
  border-left: 4px solid #1c84c6 !important;
}

.form-control.success {
  border-color: #27C24C;
  border-left:4px solid #27C24C !important;
}

.form-control.info {
  border-color: #73CAEF;
  border-left:4px solid #73CAEF !important;
}

.form-control.danger {
 border-color: #FEC8C3;
 border-left: 4px solid #FF968B !important;
}

.form-control.warning {
  border-color: #F0AD4E;
  border-left: 4px solid #F0AD4E !important;
}

.form-control.default {
  border-color: #857E7E;
  border-left:4px solid #857E7E !important;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
{
  display: block;
  width: 100%;
  height: auto;
}
